<!DOCTYPE html>
<html>
<head>
  <title>Grubr</title>
  <link data-turbolinks-track="true" href="/assets/menus.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/restaurants.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/sessions.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/users.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/affix.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/alert.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/button.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/carousel.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/collapse.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/dropdown.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/tab.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/transition.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/scrollspy.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/modal.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/tooltip.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap/popover.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/bootstrap-sprockets.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/angular/angular.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/angular-route/angular-route.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/angular-rails-templates.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/home.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/menus.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/ng-app/app.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/ng-app/controllers/home.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/restaurants.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/sessions.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/users.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="qFjvCyoZ3a5awS7T3KGKD8/qck/ofhIGkQpLeFeaPws=" name="csrf-token" />
  <base href="/">
</head>
<body ng-app="Grubr">

<!-- <div ng-view></div> -->

<nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header"> -->
    <div class="logo">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- <a class="navbar-brand" href="#">Brand</a> -->
      <a class="navbar-brand" id='Grubr-Logo' href="#">
        <!-- <img alt="Brand" src="..."> -->Grubr
      </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- Right side elements -->
        <ul class="nav navbar-nav navbar-right login">
          <li class="dropdown" id='myCaret'>

            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li class="divider"></li>
              <li><a data-method="delete" href="/logout" rel="nofollow">Log out</a></li>
            </ul>
          </li>
        </ul>
     

    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->
</nav>














<div class="row fit" ng-controller="SelectController">

  <!-- Left Column Container -->
  <div id='left' class="col-xs-12 col-sm-4 col-md-4 partial">
  	<div>
  		<span>Daily Grub:</span>
  		<div>
  		<div><button ng-click='saveList()' class="btn btn-default saveButton">Save</button></div>
  		<div><button ng-click='clearList()' class="btn btn-default saveButton">Clear</button></div>
  		</div>
  	</div>

  	<div ng-repeat='cell in list track by $index' class='list-group-item'>
  		{{ cell.fields.item_name }}
		<br>{{ cell.fields.brand_name }}
  	</div>
  </div>

  <!-- Right Column Container -->
  <div id='right' class="right col-xs-8 col-md-8 partial">
  	
  	<!-- Tabs Container -->
  	<section class="tab" ng-controller='TabController as tab'>

  		<!-- The Tabs -->
	    <ul class="nav nav-pills">
	      <li ng-class="{ active: tab.isSet(1) }">
	        <a href ng-click="tab.setTab(1)">Restaurants</a></li>
	      <li ng-class="{ active: tab.isSet(2) }">
	        <a href ng-click="tab.setTab(2)">Recipes</a></li>
	      <li ng-class="{ active: tab.isSet(3) }">
	        <a href ng-click="tab.setTab(3)">Stats</a></li>
	    </ul>

	    <!-- Tab Functionality -->
	    <div ng-show="tab.isSet(1)" >

	      <div>
		      <form class="navbar-form">
		        <div class="form-group">
		          <input type="text" ng-model='term' class="form-control" placeholder="Takeout Item">
      		      <button ng-click='runSearch(term)' class="btn btn-default">Search</button>
		        </div>
		      </form>
	      </div>

	      <!--  Restaurant Products Container  -->
			<div class='list-group' >

				<div class='row' ng-init='reveal=false'>	
					<div class='col-md-4 cell list-group-item' ng-repeat='cell in selection'>
						<div class='leader'>
						{{ cell.fields.item_name }}
						<br>{{ cell.fields.brand_name }}
						</div>

						<div class='buttons'>
							<div><button ng-click='reveal=!reveal' class="btn btn-default">Info</button></div>
							<div>
							<button ng-click='appendList(cell)' id='selectButton' class="btn btn-default">Select</button>
							</div>
						</div>

						<div ng-show='reveal' ng-hide='!reveal'>
				            <br>calories: {{cell.fields.nf_calories}}  g
					        <br>total_fat: {{cell.fields.nf_total_fat}} g
					        <br>saturated_fat: {{cell.fields.nf_saturated_fat}} g
					        <br>trans_fat: {{cell.fields.nf_trans_fatty_acid}} g
					        <br>cholesterol: {{cell.fields.nf_cholesterol}} mg

					        <br>sodium: {{ cell.fields.nf_sodium}} mg
					        <br>total_carbs: {{ cell.fields.nf_total_carbohydrate }} g
					        <br>fiber: {{ cell.fields.nf_dietary_fiber }} g
					        <br>sugar: {{ cell.fields.nf_sugars }} g
					        <br>protein: {{ cell.fields.nf_protein }} g

					        <br>vitamin_a: {{ cell.fields.nf_vitamin_a_dv }} %
					        <br>vitamin_c: {{ cell.fields.nf_vitamin_c_dv }} %
					        <br>calcium: {{ cell.fields.nf_calcium_dv }} %
					        <br>iron: {{ cell.fields.nf_iron_dv }} %
				        </div>	<!-- close div, nutritional facts -->
					</div> <!-- close div, class: 'cell' -->
				</div> <!-- close div, class: 'row' -->
			</div> <!-- close div, class: 'list-group' -->
	    </div> <!-- close div, ng-show='tab.isSet(1)' -->

	    <div ng-show="tab.isSet(2)" ng-controller='RecipesController'>
	      <div id='AddRecipeForm'>
		      <h4>Add a Recipe</h4>
		      <form class="form-horizontal" ng-submit='submitRecipe()'>
		      	<div class="form-group">
		      		<div class="col-sm-4">
			      	<input type='text' ng-model='title' placeholder='title' class="form-control" id="inputEmail3">
			      	</div>
		      	</div>
			  <div class="form-group">
			    <div class="col-sm-4">
			      <input type='text' class="form-control" id="inputEmail3" ng-model='yield' placeholder='yield'>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-4">
			      <input type='text' class="form-control" id="inputEmail3" ng-model='ingredients' placeholder='ingredients'>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-default" value='Submit'>Push</button>
			    </div>
			  </div>
		      </form>
	      </div>
	    </div>

	    <div ng-show="tab.isSet(3)" ng-controller='StatsController'>
	    	<div>
	        <button ng-click='getStats(myMeals)' class="btn btn-default">Generate Stats</button>
	        </div>
	        <div ng-repeat='menu in myStats track by $index'>
	        	<p>Menu {{$index+1}}:</p>
	        	<p>Total Calories: {{ menu.calories }}</p>
	        	<p>Total Fat: {{ menu.total_fat }}</p>
	        	<p>Total Saturated Fat: {{ menu.saturated_fat }}</p>
	        	<p>Total Trans Fat: {{ menu.trans_fat }}</p>
	        	<p>Total Cholesterol: {{ menu.cholesterol }}</p>

	        	<p>Total Sodium: {{ menu.sodium }}</p>
	        	<p>Total Carbs: {{ menu.total_carbs }}</p>
	        	<p>Total Fiber: {{ menu.fiber }}</p>
	        	<p>Total Sugar: {{ menu.sugar }}</p>
	        	<p>Total Protein: {{ menu.protein }}</p>

	        	<p>Total Vitamin A: {{ menu.vitamin_a }}</p>
	        	<p>Total Vitamin C: {{ menu.vitamin_c }}</p>
	        	<p>Total Calcium: {{ menu.calcium }}</p>
	        	<p>Total Iron: {{ menu.iron }}</p>
			</div>
	    </div>
  	</section>
</div>



</body>
</html>
