/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'airplaneregular';
    src: url('/fonts/airplane/airplane-webfont.eot');
    src: url('/fonts/airplane/airplane-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/airplane/airplane-webfont.woff2') format('woff2'),
         url('/fonts/airplane/airplane-webfont.woff') format('woff'),
         url('/fonts/airplane/airplane-webfont.ttf') format('truetype'),
         url('/fonts/airplane/airplane-webfont.svg#airplaneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'green_pilowwregular';
    src: url('/fonts/greenpiloww/greenpil-webfont.eot');
    src: url('/fonts/greenpiloww/greenpil-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/greenpiloww/greenpil-webfont.woff2') format('woff2'),
         url('/fonts/greenpiloww/greenpil-webfont.woff') format('woff'),
         url('/fonts/greenpiloww/greenpil-webfont.ttf') format('truetype'),
         url('/fonts/greenpiloww/greenpil-webfont.svg#green_pilowwregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira';
    src: url('/fonts/fira/firasans-book-webfont.eot');
    src: url('/fonts/fira/firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/fira/firasans-book-webfont.woff2') format('woff2'),
         url('/fonts/fira/firasans-book-webfont.woff') format('woff'),
         url('/fonts/fira/firasans-book-webfont.ttf') format('truetype'),
         url('/fonts/fira/firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mergelight';
    src: url('/fonts/mergeLight/philatype_-_merge-light-webfont.eot');
    src: url('/fonts/mergeLight/philatype_-_merge-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mergeLight/philatype_-_merge-light-webfont.woff2') format('woff2'),
         url('/fonts/mergeLight/philatype_-_merge-light-webfont.woff') format('woff'),
         url('/fonts/mergeLight/philatype_-_merge-light-webfont.ttf') format('truetype'),
         url('/fonts/mergeLight/philatype_-_merge-light-webfont.svg#mergelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_gothic';
    src: url('/fonts/league/leaguegothic-condensedregular-webfont.eot');
    src: url('/fonts/league/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/league/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('/fonts/league/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('/fonts/league/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('/fonts/league/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: mergeLight;
	font-size: 12px;
}

.nutritional-stat {
    text-indent: 15px;
}

#nutritional-facts{
    font-size: 12px;
}

#searchBar {
    margin-left: 10px;
}

#GenStatsBtn {
    margin-left: 40px;
}

#AddRecipeForm {
    margin-left: 40px;
}

#Grubr-Logo {
	font-size: 40px;
}

#myCaret {
    margin-right: 140px;
}

#meal-list-item {
    font-size: 15px;
}

#stats {
    font-size: 15px;
}

#daily-grub-label {
    display: inline-block;
    margin-top: 10px;
}

#daily-grub-btns {
    display: inline-block;
    font-size: 15px;
    float: right;
}

#daily-grub {
    height: 100px;
}

.saveButton {
	float: right;	
}

.clearButton {
    clear: right;
}

.leader {
	display: inline-block;
	float: left;
	font-size: 15px;
}

.meal-buttons {
    font-size: 15px;
}

#right {

	height: 50px;
	float: right;
	display: inline-block;
}

.fit {
	width: 80%;
	margin: auto;
}

#left {

	height: 50px;
	float: left;
	display: inline-block;
}

.partial {
	min-height: 45em;
}

.logo {
	margin-top: 10px;
	margin-left: 140px;
	font-size: 40px;
}

.login {
	margin-top: 10px;
}

.cell {
	height: 300px;
}

.menu-cell {
    height: 525px;
}

.shrink-form {
    width: 25%;
    margin-left: 100px;
}

/* ************** */
/* CAROUSEL */
/* ************** */

.image-fit {
    width: 100%;
    height: 400px !important;
    margin: 0 auto;
}
.item {
    height: 300px;
}
.icon-fit {
    width: 360px;
    height: 200px;
}
.description {
    width: 90%;
    height: 85px;
}
/* ************** */
/* NAVIGATION BAR */
/* ************** */

#menu {
  width: 550px;
  height: 35px;
  font-size: 25px;
  font-family: mergelight;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 2px 3px #333333;
  /* background-color: #8AD9FF; */
  border-radius: 8px;
  float: left;
}

#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

#menu li{
  float: left;
  display: inline;
  padding: 20px;
}

#menu a {
  text-decoration: none;
  color: #00F;
  padding: 8px 8px 8px 8px;
}

#menu a:hover {
  color: #F90;
  background-color: #FFF;
}

#login-form {
    display: block;
    float: right;
    margin-right: 20px;
}
#grub-nav-bar {
    height: 60px;
}















