<!-- <div ng-view></div> -->

<%= render 'layouts/navbar' %>


<div class="row fit" ng-controller="SelectController">

  <!-- Left Column Container -->
  <div id='left' class="col-xs-12 col-sm-4 col-md-4 partial">
  	<div>
  		Daily Grub:
  		<button ng-click='saveList()' class="btn btn-default saveButton">Save</button>
  		<button ng-click='clearList()' class="btn btn-default saveButton">Clear</button>
  	</div>

  	<div ng-repeat='cell in list track by $index' class='list-group-item'>
  		{{ cell.fields.item_name }}
		<br>{{ cell.fields.brand_name }}
  	</div>
  </div>

  <!-- Right Column Container -->
  <div id='right' class="right col-xs-8 col-md-8 partial">
  	
  	<!-- Tabs Container -->
  	<section class="tab" ng-controller='TabController as tab'>

  		<!-- The Tabs -->
	    <ul class="nav nav-pills">
	      <li ng-class="{ active: tab.isSet(1) }">
	        <a href ng-click="tab.setTab(1)">Restaurants</a></li>
	      <li ng-class="{ active: tab.isSet(2) }">
	        <a href ng-click="tab.setTab(2)">Recipes</a></li>
	      <li ng-class="{ active: tab.isSet(3) }">
	        <a href ng-click="tab.setTab(3)">Stats</a></li>
	    </ul>

	    <!-- Tab Functionality -->
	    <div ng-show="tab.isSet(1)" >

	      <div>
		      <form class="navbar-form">
		        <div class="form-group">
		          <input type="text" ng-model='term' class="form-control" placeholder="Takeout Item">
      		      <button ng-click='runSearch(term)' class="btn btn-default">Search</button>
		        </div>
		      </form>
	      </div>

	      <!--  Restaurant Products Container  -->
			<div class='list-group' >

				<div class='row' ng-init='reveal=false'>	
					<div class='col-md-4 cell list-group-item' ng-repeat='cell in selection'>
						<div class='leader'>
						{{ cell.fields.item_name }}
						<br>{{ cell.fields.brand_name }}
						</div>

						<div class='buttons'>
							<div><button ng-click='reveal=!reveal' class="btn btn-default">Info</button></div>
							<div>
							<button ng-click='appendList(cell)' id='selectButton' class="btn btn-default">Select</button>
							</div>
						</div>

						<div ng-show='reveal' ng-hide='!reveal'>
				            <br>calories: {{cell.fields.nf_calories}}  g
					        <br>total_fat: {{cell.fields.nf_total_fat}} g
					        <br>saturated_fat: {{cell.fields.nf_saturated_fat}} g
					        <br>trans_fat: {{cell.fields.nf_trans_fatty_acid}} g
					        <br>cholesterol: {{cell.fields.nf_cholesterol}} mg

					        <br>sodium: {{ cell.fields.nf_sodium}} mg
					        <br>total_carbs: {{ cell.fields.nf_total_carbohydrate }} g
					        <br>fiber: {{ cell.fields.nf_dietary_fiber }} g
					        <br>sugar: {{ cell.fields.nf_sugars }} g
					        <br>protein: {{ cell.fields.nf_protein }} g

					        <br>vitamin_a: {{ cell.fields.nf_vitamin_a_dv }} %
					        <br>vitamin_c: {{ cell.fields.nf_vitamin_c_dv }} %
					        <br>calcium: {{ cell.fields.nf_calcium_dv }} %
					        <br>iron: {{ cell.fields.nf_iron_dv }} %
				        </div>	<!-- close div, nutritional facts -->
					</div> <!-- close div, class: 'cell' -->
				</div> <!-- close div, class: 'row' -->
			</div> <!-- close div, class: 'list-group' -->
	    </div> <!-- close div, ng-show='tab.isSet(1)' -->

	    <div ng-show="tab.isSet(2)" ng-controller='RecipesController'>
	      <h4>Add a Recipe</h4>
	      <form ng-submit='submitRecipe()'>
	      	<p><input type='text' ng-model='title' placeholder='title'></p>
	      	<p><input type='text' ng-model='ingredients' placeholder='ingredients'></p>
	      	<p><input type='text' ng-model='yield' placeholder='yield'></p>
	      	<input type='submit' value='Submit'>
	      </form>
	      <button ng-click='getInfo()' class="btn btn-default">Search</button>
	    </div>

	    <div ng-show="tab.isSet(3)" ng-controller='StatsController'>
	    	<div>
	        <button ng-click='getStats(myMeals)' class="btn btn-default">Generate Stats</button>
	        </div>
	        <div ng-repeat='menu in myStats track by $index'>
	        	<p>Menu {{$index+1}}:</p>
	        	<p>Total Calories: {{ menu.calories }}</p>
	        	<p>Total Fat: {{ menu.total_fat }}</p>
	        	<p>Total Saturated Fat: {{ menu.saturated_fat }}</p>
	        	<p>Total Trans Fat: {{ menu.trans_fat }}</p>
	        	<p>Total Cholesterol: {{ menu.cholesterol }}</p>

	        	<p>Total Sodium: {{ menu.sodium }}</p>
	        	<p>Total Carbs: {{ menu.total_carbs }}</p>
	        	<p>Total Fiber: {{ menu.fiber }}</p>
	        	<p>Total Sugar: {{ menu.sugar }}</p>
	        	<p>Total Protein: {{ menu.protein }}</p>

	        	<p>Total Vitamin A: {{ menu.vitamin_a }}</p>
	        	<p>Total Vitamin C: {{ menu.vitamin_c }}</p>
	        	<p>Total Calcium: {{ menu.calcium }}</p>
	        	<p>Total Iron: {{ menu.iron }}</p>
			</div>
	    </div>
  	</section>
</div>

