<!-- <div ng-view></div> -->

<%= render 'layouts/navbar' %>
<div class="row fit" ng-controller="SelectController">

  <!-- Left Column Container -->
  <div id='left' class="col-xs-12 col-sm-4 col-md-4 partial">
  	<div id='daily-grub'>
  		<div id='daily-grub-label'>Daily Grub:</div>
  		<div id='daily-grub-btns'>
  			<ul class="nav nav-pills nav-stacked" role="tablist">
			  <li role="presentation" ><a ng-click='saveList()'>Save</a></li>
			  <li role="presentation"><a ng-click='clearList()'>Clear</a></li>
			</ul>
  		</div>
  	</div>

  	<div ng-repeat='cell in list track by $index' id='meal-list-item' class='list-group-item'>
  		{{ cell.fields.item_name }}
		<br>- {{ cell.fields.brand_name }} -
  	</div>
  </div> <!-- close Left Column Container -->

  <!-- Right Column Container -->
  <div id='right' class="right col-xs-8 col-md-8 partial">
  	
  	<!-- Tabs Container -->
  	<section class="tab" ng-controller='TabController as tab'>

  		<!-- The Tabs -->
	    <ul class="nav nav-pills">
	      <li ng-class="{ active: tab.isSet(1) }">
	        <a href ng-click="tab.setTab(1)">Restaurants</a></li>
	      <li ng-class="{ active: tab.isSet(2) }">
	        <a href ng-click="tab.setTab(2)">Recipes</a></li>
	      <li ng-class="{ active: tab.isSet(3) }">
	        <a href ng-click="tab.setTab(3)">Stats</a></li>
	    </ul>

	    <!-- Tab Functionality -->
	    <div ng-show="tab.isSet(1)" >

	      <div id='searchBar'>
		      <form class="navbar-form">
		        <div class="form-group">
		          <input type="text" ng-model='term' class="form-control" placeholder="Takeout Item">
      		      <button ng-click='runSearch(term)' class="btn btn-default">Search</button>
		        </div>
		      </form>
	      </div>

	      <!--  Restaurant Products Container  -->
			<div class='list-group' >

				<div class='row' ng-init='reveal=false'>	
					<div class='col-md-4 cell list-group-item' ng-repeat='cell in selection'>
					<!--   --> 
					<!-- ng-controller='TabController as mealTab' mealTab.setTab(1) mealTab.setTab(2)  -->
						<div class='meal-buttons' >
							<ul class="nav nav-tabs" role="tablist">
							  <li role="presentation" ng-class="{ active: mealTab.isSet(1)}">
							  	<a href ng-click="reveal=!reveal">Info</a>
							  </li>
							  <li role="presentation" ng-class="{ active: mealTab.isSet(2)}">
							  	<a href ng-click="appendList(cell)">Select</a>
							  </li>
							</ul>
						</div>

						<div class='leader' ng-show='!reveal' ng-hide='reveal'>
							{{ cell.fields.item_name }}
							<br>- {{ cell.fields.brand_name }} -
						</div>

						<div ng-show='reveal' ng-hide='!reveal' id='nutritional-facts'>
				            calories: {{cell.fields.nf_calories}}  g
					        <br>total_fat: {{cell.fields.nf_total_fat}} g
					        <br>saturated_fat: {{cell.fields.nf_saturated_fat}} g
					        <br>trans_fat: {{cell.fields.nf_trans_fatty_acid}} g
					        <br>cholesterol: {{cell.fields.nf_cholesterol}} mg

					        <br>sodium: {{ cell.fields.nf_sodium}} mg
					        <br>total_carbs: {{ cell.fields.nf_total_carbohydrate }} g
					        <br>fiber: {{ cell.fields.nf_dietary_fiber }} g
					        <br>sugar: {{ cell.fields.nf_sugars }} g
					        <br>protein: {{ cell.fields.nf_protein }} g

					        <br>vitamin_a: {{ cell.fields.nf_vitamin_a_dv }} %
					        <br>vitamin_c: {{ cell.fields.nf_vitamin_c_dv }} %
					        <br>calcium: {{ cell.fields.nf_calcium_dv }} %
					        <br>iron: {{ cell.fields.nf_iron_dv }} %
				        </div>	<!-- close div, nutritional facts -->

					</div> <!-- close div, class: 'cell' -->
				</div> <!-- close div, class: 'row' -->

			</div> <!-- close div, class: 'list-group' -->
	    </div> <!-- close div, ng-show='tab.isSet(1)' -->

	    <div ng-show="tab.isSet(2)" ng-controller='RecipesController'>
	      <div id='AddRecipeForm'>
		      <h4>Add a Recipe</h4>
		      <form class="form-horizontal" ng-submit='submitRecipe()'>
		      	<div class="form-group">
		      		<div class="col-sm-4">
			      	<input type='text' ng-model='title' placeholder='title' class="form-control" id="inputEmail3">
			      	</div>
		      	</div>
			  <div class="form-group">
			    <div class="col-sm-4">
			      <input type='text' class="form-control" id="inputEmail3" ng-model='yield' placeholder='yield'>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-4">
			      <input type='text' class="form-control" id="inputEmail3" ng-model='ingredients' placeholder='ingredients'>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-default" value='Submit'>Push</button>
			    </div>
			  </div>
		      </form>
	      </div>
	    </div>

	    <div ng-show="tab.isSet(3)" ng-controller='StatsController' ng-init='showMenuInfo=false'>
	    	<div>
		        <button ng-click='getStats(myMeals)' id='GenStatsBtn' class="btn btn-default">Generate Stats</button>
	        </div>

	        <div class='col-md-4 menu-cell list-group-item' ng-repeat='menu in myStats track by $index' id='stats'>

	        	<div class='menu-info-btn'>
					<ul class="nav nav-tabs" role="tablist">
					  <li role="presentation">
					  	<a href ng-click="showMenuInfo=!showMenuInfo">Info</a>
					  </li>
					</ul>
				</div>

		       	<div ng-show='showMenuInfo' ng-hide='!showMenuInfo' ng-repeat='meal in menu.all_meals' id='meal-list-item' class='list-group-item'>
			  		{{ meal }}
			  	</div>

			  	<div ng-show='!showMenuInfo' ng-hide='showMenuInfo'>
		        	<p>Menu {{ $index+1 }}:</p>
		        	<p class='nutritional-stat'>Total Calories: {{ menu.calories }} g</p>
		        	<p class='nutritional-stat'>Total Fat: {{ menu.total_fat }} g</p>
		        	<p class='nutritional-stat'>Total Saturated Fat: {{ menu.saturated_fat}} g</p>
		        	<p class='nutritional-stat'>Total Trans Fat: {{ menu.trans_fat }} g</p>
		        	
		        	<p class='nutritional-stat'>Total Carbs: {{ menu.total_carbs }} g</p>
		        	<p class='nutritional-stat'>Total Fiber: {{ menu.fiber }} g</p>
		        	<p class='nutritional-stat'>Total Sugar: {{ menu.sugar }} g</p>
		        	<p class='nutritional-stat'>Total Protein: {{ menu.protein }} g</p>

		        	<p class='nutritional-stat'>Total Cholesterol: {{ menu.cholesterol }} mg</p>
		        	<p class='nutritional-stat'>Total Sodium: {{ menu.sodium }} mg</p>

		        	<p class='nutritional-stat'>Total Vitamin A: {{ menu.vitamin_a }}%</p>
		        	<p class='nutritional-stat'>Total Vitamin C: {{ menu.vitamin_c }}%</p>
		        	<p class='nutritional-stat'>Total Calcium: {{ menu.calcium }}%</p>
		        	<p class='nutritional-stat'>Total Iron: {{ menu.iron }}%</p>
	        	</div>
			</div>
	    </div>
  	</section>
</div>

