<div class='container'>
    <div class='row'>
        <div class='col-md-offset-1 col-md-4'>
        <img src="/assets/menu.png" class='icon-fit' />
        </div>
        <div class='col-md-6'>
            <h3>Menu Container System</h3>
            <p class='description'>Each meal is contained within a menu.<br>Menus can be update after creation if you happen to miss a detail.</p>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-offset-1 col-md-4'>
        <img src="" class='icon-fit'/>
        </div>
        <div class='col-md-6'>
            <h3>Nutrition.</h3>
            <p class='description'>
              Grubber keeps a log of everything that you have consumed.
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-offset-1 col-md-4'>
        <img src="" class='icon-fit' />
        </div>
        <div class='col-md-6'>
           <h3>Data Visuals</h3>
            <p class='description'>You can visualize your nutritional data.</p>
        </div>
    </div>
</div>

    

    
    

    
    


 





